dist: bionic
language: cpp
compiler: gcc
os: linux

env:
  - CUDA_BIN= 
  - CUDA_BIN=/usr/local/cuda/bin

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-8
      - g++-8
      - cmake
      - libarmadillo-dev
      - libeigen3-dev
      - libcgal-dev
      - libsuitesparse-dev
      - libopenblas-dev
      - libglew-dev
      - libglfw3-dev
      - libglm-dev
      - cimg-dev

before_install:
  - wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/cuda-ubuntu1804.pin
  - sudo mv cuda-ubuntu1804.pin /etc/apt/preferences.d/cuda-repository-pin-600
  - sudo apt-key adv --fetch-keys https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/7fa2af80.pub
  - sudo add-apt-repository "deb http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/ /"
  - sudo apt update
  - sudo apt -y install cuda

script:
  - export CC=/usr/bin/gcc-8
  - export CXX=/usr/bin/g++-8
  - export PATH=${CUDA_BIN}:${PATH}
  - $CC -v && $CXX -v && cmake --version
  - mkdir build && cd build
  - cmake .. && make

